screenshots
*.png
*.mp4
tests/detection_output/*
tests/pose_detection_output/*
tests/evidence_obj/*
tests/evidence_hands/*
tests/evidence_pose/*
tests/evidence/*
model_conversion/*
notebooks/*
tests/tests_on_pi/__pycache__/*
tests/tests_on_pi/evidence*
runtime/front_node_pi/__pycache__/*
runtime/front_node_pi/data/*
tests/__pycache__/*
__pycache__/
*.py[cod]
